---
layout: layout_axicon
page: axicon
bar_logo_class: axicon
bar_logo_desc: Run Axicon Finder
bar_logo_link: 'http://axicon.axisj.com'
bar_logo_target: '_blank'
---

<div id="AXUContents">

    <!-- s.AXUVisual -->
    <div id="AXUVisual">
        <div class="visual-top">
            <div class="axu-layer visual-top-layer">
                <div class="axu-wrap">
                    <div class="axu-col-2">
                        <div class="logo">
                            <img src="/assets/images/page_logo_axicon@2x.png" />
                            <span>{{ site.data.vars.page_axicon_name}}</span>
                        </div>
                    </div>
                    <div class="axu-col-10">
                        <ul class="menu">
                            {% for menu in site.data.nav.menu_axicon %}
                            <li><a href="#{{ menu.link }}">{{ menu.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="axu-layer visual-message-layer">
            <div class="axu-wrap">
                <h1>{{ site.data.vars.page_axicon_type[0].msg }}</h1>
                <h2><span id="typed"></span></h2>
                <div id="typed-msgs">
                    {% for entry in site.data.vars.page_axicon_type %}
                    {% if forloop.index != 1 %}
                    <p>{{ entry.msg }}</p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="axu-layer visual-image-layer">
            <div class="axu-wrap">
                <img src="/assets/images/symbolic_axicon_512.png" />
            </div>
        </div>
        <div class="axu-layer visual-desc-layer">
            <div class="axu-wrap">
                <h3>{{ site.data.vars.page_axicon_desc[0].msg }}</h3>
                <p>{{ site.data.vars.page_axicon_desc[1].msg }}</p>
                <div class="btns">
                    {% for btn in site.data.vars.page_axicon_btns %}
                    <a href="{{ btn.link }}" target="_blank" class="btn-{{forloop.index}}">{{ btn.label }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="axu-h50"></div>
    </div>
    <!-- e.AXUVisual -->

    <a name="feature"></a>
    <div id="AXUFeatures">
        <div class="axu-section-title">
            <h3><span>{{ site.data.nav.menu_axicon[0].name }}</span></h3>
        </div>
        <div class="axu-layer">
            <div class="axu-wrap">
                {% for feature in site.data.vars.page_axicon_features  %}
                <div class="axu-col-4 feature-column">
                    <div class="axu-unit">
                        <div class="feature-card">
                            <img src="/assets/images/axicon-feature-{{forloop.index}}.png" />
                            <h3>{{ feature.label }}</h3>
                            <p>{{ feature.desc }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="axu-clear"></div>
            </div>
        </div>
    </div>

    <a name="how"></a>
    <!-- s.AXUMarkDown -->
    <div id="AXUMarkDown">
        <div class="axu-layer">
            <div class="axu-section-title">
                <h3><span>{{ site.data.nav.menu_axicon[1].name }}</span></h3>
            </div>
        </div>
        <div class="axu-layer">
            <div class="axu-wrap">
                <div class="axu-unit">
                {% capture my_include %}{% include axicon.{{site.active_lang}}.md %}{% endcapture %}
                {{ my_include | markdownify }}
                </div>
            </div>
        </div>
    </div>
    <!-- e.AXUMarkDown -->

    <div class="axu-h50"></div>
    <div class="axu-h50"></div>

</div>