---
layout: layout_common
page: donate
bar_logo_class: axisj
bar_logo_desc: AXISJ &#58; Open Source Group
bar_logo_link: '/'
---

<div id="AXUContents">

    <!-- s.AXUVisual -->
    <div id="AXUVisual">
        <div class="axu-layer">
            <div class="axu-wrap">
                <h1>{{ site.data.vars.page_donate_name }}</h1>
                <h2><span id="typed"></span></h2>
                <div id="typed-msgs">
                    {% for entry in site.data.vars.page_donate_type %}
                    <p>{{ entry.msg }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- e.AXUVisual -->

    <div id="AXUSupport">

        <div class="axu-layer support-layer">
            <div class="axu-wrap">
                <div class="axu-unit">
                    {% for desc in site.data.vars.page_donate_desc %}
                    <div class="msg-{{forloop.index}}">{{ desc.msg }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% for support in site.data.vars.page_donate_support_how %}
        <div class="axu-layer">
            <div class="axu-section-title">
                <h3><span>{{ support.label }}</span></h3>
            </div>
        </div>
        <div class="axu-layer">
            <div class="axu-wrap">
                {% for method in support.methods %}
                <div class="axu-col-4 how-column">
                    <div class="axu-unit">
                        <div class="support-card {{method.prefix}}">
                            <div class="support-img"><img src="/assets/images/donate-how-{{method.prefix}}.png" /></div>
                            <h3>{{ method.label }}</h3>
                            <div class="support-method">

                                    {% assign words = method.desc | split:"," %}
                                    {% if method.prefix == "paypal" %}

                                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="6QJZZ5W98K2UA">
                                        <input type="hidden" name="on0" value="donate">
                                        <select name="os0">
                                            {% for word in words %}
                                            <option value="LV{{ forloop.index }}">{{ word }} USD</option>
                                            {% endfor %}
                                        </select>
                                        <input type="hidden" name="currency_code" value="USD">
                                        <button>{{ site.data.vars.page_donate_name }}</button>
                                    </form>
                                    {% elsif method.prefix == "github" %}
                                    <!--a href="https://github.com/axisj" target="_blank">{{ words }}</a-->
                                    {% elsif method.prefix == "jsongum" %}
                                    <a href="{{site.baseurl}}/jsongum" target="_blank">{{ words }}</a>
                                    {% else %}
                                        <!-- bank -->
                                        <p class="desc">
                                        {% for word in words %}
                                        {{ word }}<br />
                                        {% endfor %}
                                        </p>
                                    {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="axu-clear"></div>
            </div>
        </div>
        <div class="axu-layer">
            <div class="axu-wrap">
                <div class="support-desc">
                    <div class="axu-unit">
                    <p>{{ support.desc }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="axu-layer">
            <div class="axu-section-title">
                <h3><span>{{ site.data.vars.page_donate_support_sw.label }}</span></h3>
            </div>
        </div>
        <div class="axu-layer">
            <div class="axu-wrap">
            {% for sw in site.data.vars.page_donate_support_sw.list %}
            <div class="axu-col-3 sw-column">
                <div class="axu-unit">
                    <img src="{{ sw.img }}" alt="{{ sw.name }}" />
                </div>
            </div>
            {% endfor %}
            <div class="axu-clear"></div>
            </div>
        </div>

        <div class="axu-layer">
            <div class="axu-section-title">
                <h3><span>{{ site.data.heroes.hero_page.label }}</span></h3>
            </div>
        </div>

        <div class="axu-layer">
            <div class="axu-wrap">
                {% for list in site.data.heroes.hero_list %}
                {% if list.prefix == "donate" %}

                {% for hero in list.heroes %}
                <div class="axu-col-2 hero-column">
                    <div class="axu-unit">
                        <div class="hero-card page-donate">
                            {% if hero.img != "" %}
                            <img src="{{ hero.img }}" class="photo" />
                            {% else %}
                            <img src="/assets/images/hero-face-icon@2x.png" />
                            {% endif %}
                            <h4>{{ hero.name }}</h4>
                            <div class="cate">
                                {% if hero.email != "" %}<a href="mailto:{{ hero.email }}" class="email">{{ hero.email }}</a>{% endif %}
                                {% if hero.homepage != "" %}<a href="http://{{ hero.homepage }}" class="homepage" target="_blank">{{ hero.homepage }}</a>{% endif %}
                                {% if hero.desc != "" %}<div class="desc">{{ hero.desc }}</div>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% endif %}
                {% endfor %}
                <div class="axu-clear"></div>
            </div>
        </div>

    </div>

</div>