---
layout: layout_common
page: heroes
bar_logo_class: axisj
bar_logo_desc: AXISJ &#58; Open Source Group
bar_logo_link: '/'
---

<div id="AXUContents">

    <!-- s.AXUVisual -->
    <div id="AXUVisual">
        <div class="axu-layer">
            <div class="axu-wrap">
                <h1>{{ site.data.vars.page_heroes_name }}</h1>
                <h2><span id="typed"></span></h2>
                <div id="typed-msgs">
                    {% for entry in site.data.vars.page_heroes_type %}
                    <p>{{ entry.msg }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- e.AXUVisual -->

    <!-- s.AXUSection -->
    <div id="AXUSection">
        <div class="axu-layer">
            <div class="axu-wrap">
                <div class="axu-col-4 section-column">
                    <div class="axu-unit">
                    <div class="section-card index">
                        <div class="section-img"></div>
                        <h3>{{ site.data.heroes.hero_page.label }}</h3>
                        <p>{{ site.data.heroes.hero_page.desc }}</p>
                    </div>
                    </div>
                </div>
                {% for cate in site.data.heroes.hero_list %}
                {% assign reminder = forloop.index | modulo: 3 %}
                {% if reminder == 0 %}
                <div class="axu-clear"></div>
                {% endif %}
                <div class="axu-col-4 section-column">
                    <div class="axu-unit">
                    <div class="section-card">
                        <div class="section-img {{cate.prefix}}"></div>
                        <h3>{{ cate.label }}</h3>
                        <p>{{ cate.desc }}</p>
                    </div>
                    </div>
                </div>
                {% endfor %}
                <div class="axu-clear"></div>
            </div>
        </div>
    </div>
    <!-- e.AXUSection -->

    <div id="AXUHeroes">
        <div class="axu-layer">
            <div class="axu-section-title">
                <h3><span>{{ site.data.vars.page_heroes_section }}</span></h3>
            </div>
        </div>
        <div class="axu-layer">
            <div class="axu-wrap">
                {% for list in site.data.heroes.hero_list %}
                {% for hero in list.heroes %}
                <div class="axu-col-2 hero-column">
                    <div class="axu-unit">
                    <div class="hero-card">
                        {% if hero.img != "" %}
                        <img src="{{ hero.img }}" class="photo" />
                        {% else %}
                        <img src="/assets/images/hero-face-icon@2x.png" />
                        {% endif %}
                        <h4>{{ hero.name }}</h4>
                        <h5 class="{{ list.prefix }}">{{ list.label }}</h5>
                        <div class="cate">
                        {% if hero.email != "" %}<a href="mailto:{{ hero.email }}" class="email">{{ hero.email }}</a>{% endif %}
                        {% if hero.homepage != "" %}<a href="http://{{ hero.homepage }}" class="homepage">{{ hero.homepage }}</a>{% endif %}
                        {% if hero.desc != "" %}<div class="desc">{{ hero.desc }}</div>{% endif %}
                        </div>
                    </div>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
                <div class="axu-clear"></div>
            </div>
        </div>
    </div>



</div>