---
layout: layout_axisj
page: index
bar_logo_class: axisj
bar_logo_desc: AXISJ &#58; Korea No.1 Open Source Group
bar_logo_link: '/'
---

<div id="AXUContents">

    <!-- s.AXVisual -->
    <div id="AXUVisual">
        <div class="welcome">
            <div class="axu-layer welcome-layer">
                <div class="axu-wrap">
                    <h1>{{ site.data.vars.page_axisj_type[0].msg }}</h1>
                    <h2><span id="typed"></span></h2>
                    <div id="typed-msgs">
                        {% for entry in site.data.vars.page_axisj_type %}
                        {% if forloop.index != 1 %}
                        <p>{{ entry.msg }}</p>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="axu-layer" id="particles-js"></div>

        <script>
            jQuery(document.body).ready(function() {
                //Random Timeline Image...
                var arr = ['earth1', 'earth2'];
                var idx = Math.floor(Math.random() * arr.length);
                jQuery("#particles-js").addClass(arr[idx]);
            });
        </script>
        <div class="axu-clear"></div>
    </div>
    <!-- e.AXVisual -->

    <!-- s.AXTimeline -->

    <!-- e.AXTimeline -->

    <!-- s.AXProducts -->
    <div id="AXProducts">
        <div class="axu-layer title-layer">
            <div class="axu-wrap">
                <div class="title-line"></div>
                <h3>{{ site.data.vars.products_str }}</h3>
            </div>
        </div>
        <div class="axu-layer product-layer">
            <div class="axu-wrap">

                {% for product in site.data.vars.opensources %}
                <div class="axu-col-4">
                    <div class="axu-unit">
                        <div class="pimg"><a href="{{ site.baseurl }}{{ product.link }}"><img src="{{ product.img256 }}" style="width:100px; height:100px;" /></a></div>
                        <h3 class="pname"><a href="{{ site.baseurl }}{{ product.link }}">{{ product.name }}</a></h3>
                        <p class="pdesc">{{ product.desc }}</p>
                    </div>
                </div>
                {% endfor %}
                <div class="axu-clear"></div>
            </div>
        </div>
    </div>

</div>