---
layout: layout_jsongum
page: jsongum
bar_logo_class: axisj
bar_logo_desc: AXISJ &#58; Korea No.1 Open Source Group
bar_logo_link: '/'
---

<div id="AXUContents">

    <!-- s.AXVisual -->
    <div id="AXUVisual">
        <div class="visual-top">
            <div class="axu-layer visual-top-layer">
                <div class="axu-wrap">
                    <div class="axu-col-2">
                        <div class="logo">
                            <img src="/assets/images/page_logo_jsongum@2x.png" />
                            <span>{{ site.data.vars.page_jsongum_name}}</span>
                        </div>
                    </div>
                    <div class="axu-col-10">
                        <ul class="menu">
                            {% for menu in site.data.nav.menu_jsongum %}
                            <li><a href="#{{ menu.link }}">{{ menu.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="axu-layer visual-message-layer">
            <div class="axu-wrap">
                <h1>{{ site.data.vars.page_jsongum_type[0].msg }}</h1>
                <h2><span id="typed"></span></h2>
                <div id="typed-msgs">
                    {% for entry in site.data.vars.page_jsongum_type %}
                    {% if forloop.index != 1 %}
                    <p>{{ entry.msg }}</p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="axu-layer visual-image-layer">
            <div class="axu-wrap">
                <img src="/assets/images/symbolic_jsongum_512.png" />
            </div>
        </div>
        <div class="axu-layer visual-desc-layer">
            <div class="axu-wrap">
                <!--
                <h3>{{ site.data.vars.page_jsongum_desc[0].msg }}</h3>
                <p>{{ site.data.vars.page_jsongum_desc[1].msg }}</p>
                -->
                <div class="btns">
                    {% for btn in site.data.vars.page_jsongum_btns %}
                    <a href="{{ btn.link }}" class="btn-{{forloop.index}}">{{ btn.label }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="axu-h30"></div>
    </div>
    <!-- e.AXVisual -->

    <a name="preview"></a>
    <div id="AXUCaptures">
        <div class="axu-layer">
            <div class="axu-section-title">
                <h3><span>{{ site.data.nav.menu_jsongum[0].name }}</span></h3>
            </div>
        </div>
        <div class="axu-layer mp-gallery">
            <div class="axu-wrap">
                {% for capture in site.data.vars.page_jsongum_capture %}
                <div class="axu-col-3 capture-column">
                    <div class="axu-unit">
                        <div class="capture-card">
                            <a href="/assets/images/jsongum-capture-{{forloop.index}}.png" title="{{ capture.label }}"><img src="/assets/images/jsongum-capture-{{forloop.index}}.png" /></a>
                            <span class="desc">{{ capture.label }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="axu-clear"></div>
            </div>
        </div>
        <div class="axu-h30"></div>
    </div>


    <!--
    <a name="feature"></a>
    <div id="AXUFeatures">
        <div class="axu-layer">
            <div class="axu-section-title">
                <h3><span>{{ site.data.nav.menu_jsongum[1].name }}</span></h3>
            </div>
        </div>
        <div class="axu-layer">
            <div class="axu-wrap">
                {% for feature in site.data.vars.page_jsongum_features %}
                <div class="axu-col-4 feature-column">
                    <div class="axu-unit">
                        <div class="feature-card">
                            <img src="/assets/images/jsongum-feature-{{forloop.index}}.png" />
                            <h3>{{ feature.label }}</h3>
                            <p>{{ feature.desc }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="axu-clear"></div>
            </div>
        </div>
        <div class="axu-h30"></div>
    </div>
    -->

    <a name="download"></a>
    <div id="AXUInstall">
        <div class="axu-layer">
            <div class="axu-section-title">
                <h3><span>{{ site.data.nav.menu_jsongum[2].name }}</span></h3>
            </div>
        </div>
        <div class="axu-layer buy-desc-layer">
            <div class="axu-wrap">

                {% for install in site.data.vars.page_jsongum_install %}
                <div class="desc">
                    {{ install.msg }}
                </div>
                {% endfor %}

                <div class="axu-clear"></div>
            </div>
        </div>
        <!--
        <div class="axu-layer buy-layer">
            <div class="axu-wrap">
                {% for buy in site.data.vars.page_jsongum_buy %}
                <div class="axu-col-6 buy-column">
                    <div class="axu-unit">
                        <h3>{{ buy.label }}</h3>
                        <p>{{ buy.desc }}</p>
                        {% for dn in buy.btns %}
                        <a href="javascript:{{ dn.link }}">{{ dn.label }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}

                <div class="axu-clear"></div>
            </div>
        </div>
        -->
        <div class="axu-h30"></div>
    </div>


    <a name="license"></a>
    <div id="AXUSearch">
        <div class="axu-layer">
            <div class="axu-section-title">
                <h3><span>{{ site.data.nav.menu_jsongum[3].name }}</span></h3>
            </div>
        </div>
        <div class="axu-layer">
            <div class="axu-wrap">
                <div class="search-card">
                    <div class="axu-unit">
                        <p class="desc">{{ site.data.vars.page_jsongum_license.desc }}</p>
                        <!--
                        <form name="find-form" method="post" onsubmit="return fn_check_license();">
                            <label>
                                <span>{{ site.data.vars.strings.email }}</span>
                                <input type="text" name="email" placeholder="abc@axisj.com" value="" class="axu-input" />
                                <button>{{ site.data.vars.strings.submit }}</button>
                            </label>
                        </form>
                        -->
                    </div>
                </div>
            </div>
        </div>
        <div class="axu-h50"></div>
    </div>


</div>