<div id="AXUFooter">
    <div class="axu-layer footer-1">
        <div class="axu-wrap">
            <div class="axu-col-6 left">
                <div class="axu-unit">
                    <span class="copy">© AXISJ 2014-2017</span>
                    <ul class="lang">
                        {% for tongue in site.languages %}
                        <li><a {% if tongue == site.active_lang %}class="on"{% endif %} href="{% if tongue == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %} {{site.baseurl}}/{{ tongue }}{{page.url}} {% endif %}">{{ tongue | upcase }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="axu-col-6 right">
                <div class="ax-unit">
                    <ul class="bottom_menu">
                        <li><a href="{{ site.baseurl }}/">AXISJ</a></li>
                        <li><a href="{{ site.baseurl }}axboot/">AXBoot</a></li>
                        <li><a href="{{ site.baseurl }}ax5/">AX5</a></li>
                        <li><a href="{{ site.baseurl }}axicon/">AXICON</a></li>
                        <li><a href="{{ site.baseurl }}xjson/">X-JSON</a></li>
                    </ul>
                </div>
            </div>
            <div class="axu-clear"></div>
        </div>
    </div>
    <div class="axu-layer footer-2">
        <div class="axu-wrap">
            <div class="ax-unit">
                <h4>SPONSORED</h4>
                <ul>
                    <li><a href="https://www.jetbrains.com" target="_blank">JetBrains</a></li>
                    <li><a href="https://www.atlassian.com/" target="_blank">Atlassian</a></li>
                    <li><a href="http://www.chequer.io" target="_blank">CHEQUER</a></li>
                    <li><a href="http://www.dnsever.com" target="_blank">DNSEver</a></li>
                    <li><a href="http://www.antwiz.com" target="_blank">Antwiz</a></li>
                    <li><a href="http://www.flybasket.com" target="_blank">FlyBasket</a></li>
                </ul>
                <div class="axu-clear"></div>
            </div>
        </div>
    </div>
</div>

{% if page.page == "index" %}
<!-- s.Particles -->
<script src="/assets/js/particles.min.js"></script>
<script>
    particlesJS.load('particles-js', '/assets/js/particlesjs-config.json', function() {
        console.log('particles_config loaded');
    })
</script>
<!-- e.Particles -->
{% endif %}