

<div id="AXUHeader">
    <div class="header-bar-fixed"></div>
    <div class="axu-layer mx-header-hamburger">
        <div class="axu-wrap">
            <a href="#axu" class="hamburger-menu">
                <div class="hamburger">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="axu-layer mx-header-overay">
        <nav>
            {% for item in site.data.nav.topmenus %}
            {% if forloop.index == 1 %}
            <ul class="top-menu">
                {% for entry in item.submenus %}
                <li><a href="{{ entry.url }}" class="{% if page.url == entry.url %}on{% endif %}"><span class="bullet"></span>{{ entry.label }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <ul class="option-menu">
                {% for entry in item.submenus %}
                <li><a href="{{ entry.url }}" target="{% if entry.target %}{{ entry.target }}{% else %}_self{% endif %}"><span class="icon{{forloop.index}}"></span>{{ entry.label }}</a></li>
                {% endfor %}


                <!-- 언어 역으로 구해야함 -->
                {% if site.active_lang == "en" %}
                    {% assign reverse_lang = "ko" %}
                {% else %}
                    {% assign reverse_lang = "en" %}
                {% endif %}

                {% for var in site.data[reverse_lang].vars.languages %}
                <li><a href="{% if site.active_lang == site.default_lang %} {{site.baseurl}}/en{{page.url}} {% else %} {{site.baseurl}}{{page.url}} {% endif %}"><span class="{{site.active_lang}}"></span>{{ var.select }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}

        </nav>
    </div>
    <div class="axu-layer mx-header-bar">
        <div class="axu-wrap">
            <div class="axu-unit">
                <div class="header-logo">
                         <a href="{{ page.bar_logo_link }}" target="{% if page.bar_logo_target %}{{ page.bar_logo_target }}{% else %}_self{% endif %}" >
                             <span class="symbolic {{ page.bar_logo_class }}"></span>
                             <div class="descript">{{ page.bar_logo_desc }}</div>
                         </a>
                     </div>
            </div>
        </div>
     </div>

    <div class="axu-layer header-bar">
        <div class="axu-wrap">
            <div class="axu-left">
                <div class="axu-unit">
                    <div class="header-logo">
                        <a href="{{ page.bar_logo_link }}" target="{% if page.bar_logo_target %}{{ page.bar_logo_target }}{% else %}_self{% endif %}" >
                            <span class="symbolic {{ page.bar_logo_class }}"></span>
                            <div class="descript">{{ page.bar_logo_desc }}</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="axu-right">
                <div class="axu-unit">
                    {% for item in site.data.nav.topmenus %}
                    {% if forloop.index == 1 %}
                    <ul class="top-menu">
                        {% for entry in item.submenus %}
                        <li><a href="{{ entry.url }}" class="{% if page.url == entry.url %}on{% endif %}">{{ entry.label }}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <ul class="option-menu">
                        {% for entry in item.submenus %}
                            <li><a href="{{ entry.url }}" target="{% if entry.target %}{{ entry.target }}{% else %}_self{% endif %}"><span class="icon{{forloop.index}}"></span>{{ entry.label }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endfor %}
                    <a href="{% if site.active_lang == site.default_lang %} {{site.baseurl}}/en{{page.url}} {% else %} {{site.baseurl}}{{page.url}} {% endif %}" class="lang-menu {{site.active_lang}}"><span> {{site.active_lang}}</span></a>
                </div>
            </div>
            <div class="axu-clear"></div>
        </div>
    </div>
</div>


