// Layout Axisj //////////////////////////////////
// Developer  : Jowrney Kim
// Date       : 11 March 2017
//////////////////////////////////////////////////


// Layout Default ///////////////////////////////////
html, body	{
  margin:0; padding:0;
  height:100%;
  color:$color-fore;
  a 		{color:$color-fore; text-decoration: none;}
  a:hover {color:$color-spot; text-decoration: underline;}
  a:active{color:$color-fore;}
  background:$color-back;
}

// Body Structure ////////////////////////////////
/* -- Typed -- */
.typed-cursor{
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-ms-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

// Body Structure ////////////////////////////////
#AXUBody{ }

// Header Structure ////////////////////////////////
#AXUHeader{

  //s.header-bar vars...
  $header-bar-height:40px;
  //e.header-bar vars...

  .header-logo {
    font-size:11px;
    line-height: $header-bar-height;
    a{
      display: block;
      .symbolic {
        width:$header-bar-height;
        height:$header-bar-height;
        display: inline-block;
        vertical-align: middle;
        &.axisj{
          background:url('/assets/images/header-logo-axisj@2x.png') no-repeat center;
          background-size:contain;
        }
        &.axboot{
          background:url('/assets/images/header-logo-github@2x.png') no-repeat center;
          background-size:contain;
        }
        &.ax5{
          background:url('/assets/images/header-logo-github@2x.png') no-repeat center;
          background-size:contain;
        }
        &.nerds{
          background:url('/assets/images/header-logo-shop@2x.png') no-repeat center;
          background-size:contain;
        }
        &.axicon{
          background:url('/assets/images/header-logo-finder@2x.png') no-repeat center;
          background-size:contain;
        }
        &.jsongum{
          background:url('/assets/images/header-logo-down@2x.png') no-repeat center;
          background-size:contain;
        }
      }
      .descript {
        display: inline-block;
        vertical-align: middle;
        color: darken($color-fore, 25%);
        @include opacity(0.5);
      }
      @include rwd(tx){
        .descript{display:none;}
      }
      &:hover{text-decoration: none;}
    }


  }

  .header-bar {
    position: fixed;
    height:$header-bar-height;
    z-index:996;
    background: darken($color-back, 5%);
    width:100%; top:0; left:0;
    &.scrolled{
      box-shadow: 0 0 5px rgba(0,0,0,0.3);
    }
    .axu-left{} //header-logo는 모바일 공통
    .axu-right{
      line-height: $header-bar-height;
      .top-menu { //ul
        margin: 0; padding: 0; list-style: none;
        float: left;
        li {
          margin: 0;padding: 0;
          float: left;
          font-size:14px;
          a{
            padding:6px 8px;
            height:inherit;
          }
          a:hover {text-decoration: none;}
          a.on    {
            color:$color-spot;
            background:url('/assets/images/topmenu_selector.svg') no-repeat bottom center;
          }
        }
      }
      .option-menu { //ul
        margin: 0; padding: 0; list-style: none;
        margin-left:20px;
        float: left;
        li {
          margin: 0;  padding: 0px;
          float: left;
          font-size:12px;
          a{
            background:lighten($color-back, 10%);
            padding:5px 10px;
            color:darken($color-fore, 30%);
            margin-left:1px;
            &:hover{
              text-decoration: none;
              color:$color-back;
              background: $color-spot;
            }
            .icon1{
              width:20px; height:20px;
              margin-right:2px;
              display: inline-block;
              vertical-align: middle;
              background:url('/assets/images/logo-medium-20.svg') no-repeat left center;
            }
            .icon2{}
            .icon3{}

          }
          &:first-child a {
            margin-left:0px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
          }
          &:last-child a  {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
          }
        }
      }

      // s.lang-menu vars...
      $lang-en:'/assets/images/lang_en@2x.png';
      $lang-ko:'/assets/images/lang_ko@2x.png';
      // e.lang-menu vars...
      .lang-menu { //a
        display: inline-block;
        font-size:11px;
        text-align: center;
        width:$header-bar-height;
        height:$header-bar-height;
        span{display: none;}
        &.ko{
          background:url($lang-ko) no-repeat;
          background-size: contain;
        }
        &.en{
          background:url($lang-en) no-repeat;
          background-size: contain;
        }
      }
    }



  }
  @include rwd(mx){
    .header-bar{display:none;}
  }

  $mx-header-bar-height:56px;
  .mx-header-hamburger{
    z-index:999;
    position: fixed;
    top:0; left:0;  width:100%;
    line-height:0;
    display: none;
  }
  .mx-header-bar{
    z-index:997;
    position: fixed;
    width:100%; top:0; left:0;
    height:$mx-header-bar-height;
    background: darken($color-back, 5%);
    &.scrolled{
      box-shadow: 0 0 5px rgba(0,0,0,0.3);
    }
    display: none;
    a{ margin-top:8px; }
  }

  .mx-header-overay{
    z-index:998;
    position: fixed;
    width:100%; height:100%;
    top:0; left:0;
    background: $color-back;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
    nav{
      width:80%;
      max-width:300px;
      margin:0 auto;
      padding:0px;
      position: relative;
      top:$mx-header-bar-height*2;
      //border:1px solid #0f0;
      -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
      transition: transform 0.5s, opacity 0.5s;
      ul{
        list-style: none;
        padding: 0; margin:0;
        display: inline-block;
        width:100%;
        height: 100%;
        position: relative;
        opacity: 0.4;
        li{
          a{
            display: block;
            border:1px solid rgba(red($color-fore), green($color-fore),blue($color-fore), 0.1);
            padding:8px 5px;
            margin:5px 0px;
            .bullet{
              background:$color-spot;
              display: inline-block;
              //vertical-align: middle;
              width:3px; height:10px;
              margin:0px;
              margin-left:4px;
              margin-right:8px;
              @include border-radius(3px);
              visibility: hidden;
            }
            &:hover{
              color:$color-fore;
              text-decoration: none;
              background-color:rgba(red($color-spot), green($color-spot),blue($color-spot), 0.9);
            }
            &.on{
              color:$color-spot;
              .bullet{visibility: visible;}
              &:hover{
                color:$color-fore;
              }
            }
          }

        }
        &.top-menu{
          font-size: 18px;
          line-height:18px;
        }
        &.option-menu{
          font-size: 12px;
          li{
            float:left;
            width:25%;
            a{
              border:none;
              text-align: center;
              &:hover{
                background: none;
                color:$color-spot;
              }
              span{
                width:100%; height:32px;
                display: inline-block;
                &.icon1{background:url('/assets/images/logo-medium-32.svg') no-repeat center center;}
                &.icon2{background:url('/assets/images/logo-hero-32.svg') no-repeat center center;}
                &.icon3{background:url('/assets/images/logo-donate-32.svg') no-repeat center center;}
                &.en{background:url('/assets/images/logo-lang-en-32.svg') no-repeat center center;}
                &.ko{background:url('/assets/images/logo-lang-ko-32.svg') no-repeat center center;}
              }
            }
          }
        }
      }
    }
    &.open{
      opacity: 0.9;
      visibility: visible;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s;
      nav{
        -webkit-transform: translateY(-$mx-header-bar-height);
        transform: translateY(-$mx-header-bar-height);
        ul{
          opacity: 1;
          li{
          }
        }
      }
    }
  }

  @include rwd(mx){
    .mx-header-bar{ display: block;}
    .mx-header-hamburger{ display: block;}
  }


  .header-bar-fixed{  height:$header-bar-height; }
  @include rwd(mx){
    .header-bar-fixed{  height:$mx-header-bar-height;  }
  }
}

// Footer Structure ////////////////////////////////
#AXUFooter{
  background:lighten($color-back, 2%);
  font-size:12px;
  color:darken($color-fore, 70%);
  ul,li { list-style:none; padding:0px; margin:0px;}
  a{
    color:darken($color-fore, 60%);
    &:hover{
      color:$color-spot;
    }
  }
  .footer-1{
    .left{
      padding:10px 0;
      text-align:left;
      .copy{float:left}
      .lang{
        float:left;
        margin-left:10px;
        li{
          float:left;
          a{
            font-size:11px;
            background:lighten($color-back, 10%);
            padding:3px 8px;
            &:hover,&.on{
              text-decoration: none;
              background: darken($color-spot,10%);
              font-weight:bold;
              color:$color-back;
            }
          }
          &:first-child{
            a {
              border-bottom-left-radius: 3px; border-top-left-radius: 3px;
              margin-right:1px;
            }
          }
          &:last-child{
            a { border-bottom-right-radius: 3px; border-top-right-radius: 3px;  }
          }
        }
      }
    }
    .right{
      padding:10px 0;
      text-align:right;
      ul{
        li{display: inline; padding:0 5px;}
      }
    }
  }
  .footer-2{
    .axu-wrap{
      border-top:1px solid lighten($color-back, 5%);
      padding:20px 0px;
      text-align: center;
      h4{font-size:13px; margin:10px 0px; padding:0; }
      ul{
        li{display:inline; padding:0 5px;}
      }
    }

  }
  @include rwd(mx){
    div[class*="axu-col-"]{ width:100%; }
    .footer-1{
      .right{text-align: left;}
    }
  }
}



