//////////////////////////////////////////////////////////////////
// Color Preset
//////////////////////////////////////////////////////////////////
$color-fore: #fff;    //전경색 : 폰트, 라인 색상
$color-back: #1387CA;  //배경색
$color-spot: #FFCB08; //별색 : 주로 hover된 색상
$color-warm: #f00;    //따뜻한 색
$color-cool: #0ff;    //시원한 색

//////////////////////////////////////////////////////////////////
// Override Header & Footer
//////////////////////////////////////////////////////////////////
#AXUHeader {
  .mx-header-overay{
    .option-menu{
      li{
        a{
          span {
            &.icon2 {
              background: url('/assets/images/logo-hero-99-32.svg') no-repeat center center !important;
            }
            &.icon3 {
              background: url('/assets/images/logo-donate-99-32.svg') no-repeat center center !important;
            }
            &.en {
              background: url('/assets/images/logo-lang-99-en-32.svg') no-repeat center center !important;
            }
            &.ko {
              background: url('/assets/images/logo-lang-99-ko-32.svg') no-repeat center center !important;
            }
          }
        }
      }
    }
  }

  .header-bar {
    .axu-left{
      .header-logo{
        a {
          .descript {
            color: darken($color-back, 30%);
          }
        }
      }
    }
    .axu-right{
      .top-menu{
        li{
          a{
            &.on{
              background: url("/assets/images/topmenu_selector_99nerds.svg") no-repeat bottom center;
            }
          }
        }
      }
      .option-menu{
        li{
          a{
            color:darken($color-back, 20%);
          }
        }
      }
    }

  }
}

#AXUFooter{
  .footer-1{
    .left{
      .copy{color:lighten($color-back, 30%);}
      .lang{
        li{
          a{color:$color-fore;}
        }
      }
    }
    .right{
      .bottom_menu{
        a{
          color:lighten($color-back, 40%);
          &:hover{color:$color-spot;}
        }
      }
    }
  }
  .footer-2{
    h4{color:darken($color-back, 5%);}
    ul{
      li{
        a{
          color:darken($color-back, 10%);
          &:hover{color:$color-spot;}
        }
      }
    }
  }

}