//////////////////////////////////////////////////////////////////
// Color Preset
//////////////////////////////////////////////////////////////////
$color-fore: #fff; //전경색 : 폰트, 라인 색상
$color-back: #121212; //배경색
$color-spot: #2AA3DA; //별색 : 주로 hover된 색상
$color-warm: #f00; //따뜻한 색
$color-cool: #0ff; //시원한 색