---
---

//////////////////////////////////////////////////
// 액시콘, AXIcon
//////////////////////////////////////////////////


//가져오기
@import 'preset_axicon';
@import 'utils';
@import 'axu'; //Responsive SCSS

#AXUContents{
  margin:0; padding:0;
  width:100%; height:100%;
}

// AXUVisual //////////////////
#AXUVisual{
  background:url('/assets/images/bg_pattern_axicon.png') repeat-x;
  //background-size: 50%;
  .visual-top{
    position:relative;
    .visual-top-layer{
      position: absolute;
      width:100%;
      .logo{
        margin-top:15px;
        width:80px; text-align: center;
        img{width:100%;}
        span{
          display:block;
          font-weight: bold;
          font-size:13px; color:darken($color-back, 20%);
        }
      }
      .menu{
        float:right;
        list-style:none;
        li{
          float:left;
          a{
            font-size:16px;
            margin:0 5px;
            padding:5px;
            //background:#f00;
            text-decoration: none;
          }
        }
      }
    }
  }
  .visual-message-layer{
    text-align: center;
    h1{
      font-size:30px;
      margin:0px; padding:80px 20px 0 20px;
    }
    h2{
      font-size:18px;
      margin:0px;
      padding:10px 30px;
    }
    @include rwd(mx){
      h1{ font-size:20px; padding-top:20px; }
      h2{ font-size:14px; padding:5px 30px; }
    }
  }
  .visual-image-layer {
    text-align: center;
    img{width:300px; height:300px;}
  }
  .visual-desc-layer{
    text-align: center;
    font-size:13px;
    h3{
      font-size:18px;
      margin:0px; padding:10px;
      color:darken($color-back, 20%);
      text-shadow:0 1px rgba(255,255,255,0.2);
    }
    p{
      width:50%; padding:10px; margin:0px auto;
      text-align: left;
      line-height:140%;
      color:darken($color-fore, 20%);
      text-shadow:0 -1px rgba(0,0,0,0.6);
    }
    .btns{
      padding:20px;
      a{
        border:1px solid darken($color-spot, 10%);
        text-decoration: none;
        padding:10px 20px;
        &.btn-1{
          background:darken($color-spot, 50%);
          color:$color-spot;
        }
        &:hover{
          border:1px solid darken($color-spot, 50%);
          background: darken($color-spot, 40%);
          color: $color-spot;
        }
      }

    }
  }
  @include rwd(mx){
    .visual-desc-layer {
      p {
        width: 80%;
      }
    }
  }
}
@include rwd(mx){
  #AXUVisual {
    .visual-top{display:none;}
    .visual-image-layer {
      img{width:200px; height:200px;}
    }
  }
}

#AXUFeatures{
  text-align: center;
  .feature-column {
    .feature-card {
      padding-bottom:30px;
      img {
        width: 64px;
        height: 64px;
      }
      h3 {
        font-size: 18px;
      }
      p {
        font-size: 13px;
        color: darken($color-fore, 15%);
        line-height: 120%;
      }
    }
  }
  @include rwd(mx){
    .feature-column{
      width:100%;
    }
  }
}

#AXUMarkDown{
  //s.MarkDown Area...
  font-size:13px;
  h1{font-size:26px; margin:0; padding:0; line-height: 140%;}
  h2{font-size:20px; margin:0; padding:0; line-height: 140%;}
  h3{font-size:18px; margin:0; padding:0; line-height: 140%;}
  h4{font-size:16px; margin:0; padding:0; line-height: 140%;}
  h5{font-size:15px; margin:0; padding:0; line-height: 140%;}
  h6{font-size:14px; margin:0; padding:0; line-height: 140%;}
  p{font-size:13px; margin:6px 0; padding:0; line-height: 140%; color:darken($color-fore,10%);}
  ul{ margin-left:15px; padding:0px; list-style-position: outside; }
  ol{ margin-left:20px; padding:0px; list-style-position: outside; }
  blockquote{
    background:lighten($color-fore,5%); margin:10px 0; padding:4px;
    border:1px solid transparent; text-align: center; font-style: italic;
    border-radius: 4px;
  }
  hr{border:none;border-top:1px dashed darken($color-back, 10%); margin:10px 0px; font-size:0px;}
  a{
    padding:0px 5px;
    color:$color-spot;
    margin:0 2px;
    text-decoration: underline;
    cursor:hand;
    &:hover{
      border-radius: 20px;
      text-decoration: none;
      background:darken($color-back, 10%); color:$color-spot;
      border:1px solid lighten($color-spot, 5%);
    }
  }
  img{
    width:100%;
    position:relative;
    float:left;
    &:after{clear:both;}
    &[src$="#profile"] {
      width:100px; height:100px;
      @include border-radius(50%);
    }
    &[src$="#gallery-2"]{ //한 줄에 이미지 2개 놓기 위한 프리픽스
      width:50%; height:100px;
      outline: 2px solid $color-fore;
      outline-offset: 0px;
    }
    &[src$="#gallery-3"]{
      width:33.3334%; height:100px; overflow: hidden;
      outline: 2px solid $color-fore;
      outline-offset: 0px;
    } //한 줄에 이미지 3개 놓기 위한 프리픽스
  }
}


.axu-section-title{
  padding:30px 30%;
  h3{
    position: relative;
    text-align: center;
    &:before{
      background: darken($color-back, 10%);
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      top: 50%;
      width: 100%;
      left:0;
    }
    span{
      background: $color-back;
      padding: 0 10px;
      position: relative;
      z-index: 1;
      color:darken($color-back, 20%);
    }

  }
}